<!-- your html code here -->
<div class="container-fluid px-7 py-5 bg-white ">
  <div class="container bg-white">
    <h1>Contact</h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper.Praesent
      commodo cursus magna, vel scelerisque nisl consectetur. Fucse dapibus, tellus ac cursus commodo </p>
    <div class="card w-100 mb-3 ">
      <div class="card-body ">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <div class="mb-5">
          <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1"
            placeholder="please enter your message here..." rows="6"></textarea>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-primary btn btn-lg mt-4" type="submit" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>