<!-- your html code here -->


<div class="p-5">


    <div class="d-flex">
        <div>
            <h1 class="hprimero"><Strong>This First Heading</Strong><span class="hsegundo"> Will Catch Your Eye</span>
            </h1>
            <p class="text-start p-first_heading">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.
            </p>
        </div>
        <img src="assets/img/1.jpg" class="rounded-circle" style="width: 400px; height: 400px; " alt="circular image">
    </div>
</div>
